<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Django Login System</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% extends 'base.html' %}
        {% block content %}
        <br>
        <h2>This is your dashboard {{ name }}</h2>
        <br>
        <h3>You can start your activity from today</h3>
        {% endblock %}
    </body>
</html>